SECRET_KEY=
SECURITY_PASSWORD_SALT=
HERMES_BASE_URL=https://hermesbot.pythonanywhere.com
HERMES_API_KEY=
HERMES_EMAILBOT_ID=
INITIAL_ADMIN_EMAIL=indrajitghosh912@gmail.com
INITIAL_ADMIN_USERNAME=ghostrix
DATABASE_URL=
FLASK_APP=wsgi.py
FLASK_DEBUG=1
